.header {
  background: #282c34;
  /* display: flex;
  justify-content: space-around;
  align-items: center; */
  display: grid;
  grid-template-columns: 200px 1fr 75px;
  grid-template-areas: '. . header-refresh';
  align-items: center;
}

.header button {
  font-family: Verdana, Geneva, sans-serif;
  width: 150px;
  margin-left: 15px;
}

.header-refresh {
  grid-area: header-refresh;
  margin-right: 15px;
  justify-self: end;
  color: white;
  opacity: .54;
  cursor: pointer;
  width: 100%;
}

@media screen and (min-width: 601px) {
  .header-refresh {
    margin-right: 30px;
  }
}