.header {
  background: #282c34;
  display: grid;
  grid-template-columns: 1fr 40px 40px;
  grid-template-areas: '. header-home header-refresh';
  align-items: center;
}

.header button {
/* flex: 1; */
  /* font-size: 1em; */
  font-family: Verdana, Geneva, sans-serif;
  /* padding: 15px:? 15px 0; */
  width: 150px;
  margin-left: 15px;
  /* font-style: oblique; */
}

.header-home {
  color: white;
  opacity: .54;
  cursor: pointer;
}

.header-refresh {
  color: white;
  opacity: .54;
  cursor: pointer;
}
