.App {
  display: grid;
  grid-template-rows: 55px 1fr;
  grid-template-areas:
    'header'
    'weatherCards';
  height: 100vh;
  background-image: linear-gradient(#085078 , #85D8CE);
}

.header {
  grid-area: header;
  opacity: .7;
  z-index: 1000;
}

.weatherCards {
  grid-area: weatherCards;
  opacity: .8;
  overflow: scroll;
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: transparent; 
}