.App {
  /* justify-content: center; */
  display: grid;
  grid-template-rows: 200px 0px 1fr 60px;
  grid-row-gap: 5px;
  grid-template-areas:
    'currentWeather'
    'weatherChart'
    'forecast'
    'footer';
  width: 100%;
  height: 100vh;
  background-color: #282c34;
  overflow: hidden;
}

.footer {
  grid-area: footer;
  padding: 0 0 10px;
  align-self: flex-end;
  text-align: center;
  color: white;
  font-size: 12px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #282c34;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #333333;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #404040;
}

@media screen and (min-width: 768px) {
  .App {
    grid-template-rows: 1fr 1fr 1fr 40px;
    width: 100%;
    height: 100vh;
  }

  .footer {
    font-size: 13px;
  }
}
