.forecast {
  grid-area: forecast;
  display: flex;
  justify-content: space-evenly;
}

.forecast-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 9%; */
  /* justify-content: space-between;
  align-items: center;
  padding: 0 10px 0 10px;
  border-bottom: 1px solid rgba(224, 224, 224, 0.12); */
}

.forecast-day {
  /* width: 33%; */
  font-weight: 600;
}

.forecast-icon {
  /* width: 33%; */
  display: flex;
  justify-content: center;
}
.forecast-temp {
  /* width: 33%;  */
  /* text-align: right; */
}

.forecast-border {
  display: none;
}

.forecast-day h6 {
  /* padding: 0px 5px 0; */
  text-align: left;
  font-family: arial;
  font-size: .8em;
  line-height: 10px;
}

.forecast-temp h6 {
  /* padding: 0px 5px 0; */
  text-align: left;
  font-family: arial;
  font-size: .8em;
  line-height: 15px;
}

@media screen and (min-width: 600px) {
  .forecast {
    justify-content: space-around;
    padding-top: 20px;
  }

  .forecast-day h6 {
    font-size: 1em;
  }

  .forecast-item {
    width: 100%;
  }

  .forecast-temp {
    display: flex;
    width: 80%;
    justify-content: space-evenly;
  }

  .forecast-temp h6 {
    font-size: 1em;
  }

  .forecast-border {
    display: inline;
    color: grey;
    /* font-size: 1em; */
    font-family: monospace;
  }

  .forecast-temp h6 {
    /* border-left: 1px solid grey; */
  }
  /* .forecast {
    display: flex;
    align-self: center;
    justify-content: space-evenly;
    border-top: 0;
  }

  .forecast-item {
    display: flex;
    flex-direction: column; 
    border-bottom: 0;
  }

  .forecast-day {
    width: 100%;
    text-align: center; 
  }
  
  .forecast-icon {
    width: 100%;
  }

  .forecast-temp {
    width: 100%;
    text-align: center; 
  } */
}
