.weatherChart {
  grid-area: weatherChart;
  border: 1px solid blue;
  display: none;
}

@media screen and (min-width: 768px) {
  .weatherChart {
    height: 100%;
    border: 1px solid magenta;
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-areas:
      'wc-buttons'
      'wc-chart';
  }

  .wc-buttons {
    grid-area: wc-buttons;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border: 1px solid magenta;
  }

  .wc-buttons span {
    font-size: 14px;
  }

  .wc-chart {
    grid-area: wc-chart;
    border: 1px solid magenta;
  }
}
