.currentWeather {
  grid-area: currentWeather;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'cw-header cw-temp'
    'cw-header cw-env';
}

.cw-header {
  grid-area: cw-header;
}

.cw-header h4 {
  padding: 20px 0px 20px;
  text-align: center;
  font-family: arial;
  font-size: 30px;
  line-height: 44px;
}

.cw-header h6 {
  padding: 0px 0px 20px;
  text-align: center;
  font-family: arial;
  font-size: 16px;
  line-height: 20px;
}

.cw-temp {
  grid-area: cw-temp;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cw-env {
  grid-area: cw-env;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.cw-env h6 {
  padding: 5px 10px 0px;
  font-family: arial;
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .currentWeather {
    grid-template-rows: 175px 1fr;
    grid-template-areas:
      'cw-header cw-header'
      'cw-temp cw-env';
  }
  .cw-header h4 {
    font-size: 50px;
  }

  .cw-header h6 {
    font-size: 30px;
  }

  .cw-temp h3 {
    font-size: 90px;
  }

  .cw-temp p {
    font-size: 30px;
  }

  .cw-env {
    justify-content: center;
  }

  .cw-env h6 {
    padding: 0px 25px 10px;
    font-size: 25px;
  }
}

@media screen and (min-width: 1025px) {
  .currentWeather {
    grid-template-rows: 175px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      'cw-header cw-header cw-header'
      'cw-temp . cw-env';
  }
}
