.currentWeather {
  grid-area: currentWeather;
  width: 100%;
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-areas:
    'cw-header cw-header'
    'cw-temp cw-env';
}

.currentWeather h6 {
  padding: 0px 10px 0;
  text-align: left;
  font-family: arial;
  font-size: .8em;
  line-height: 20px;
}

.cw-header {
  grid-area: cw-header;
  width: fit-content;
  cursor: pointer;
}

.cw-header h4 {
  padding: 20px 10px 0;
  text-align: left;
  font-family: arial;
  font-size: 2.5em;
  line-height: 44px;
}

.cw-temp {
  grid-area: cw-temp;
  padding: 0px 5px 0;
  display: flex;
  justify-content: left;
}

.cw-temp h3 {
  font-size: 2em;
}

.cw-temp p {
  font-size: 1em;
}

.cw-env {
  grid-area: cw-env;
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.cw-env-item {
  display: flex;
  justify-content: space-between;
}


@media screen and (min-width: 601px) {
  .currentWeather h6 {
    font-size: 1em;
  }
}
