.currentWeather {
  grid-area: currentWeather;
  width: 100%;
  display: grid;
  grid-template-columns: 150px 1fr 30px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-template-areas:
    'cw-header cw-header cw-clear'
    'cw-temp cw-env cw-buttons'
    'cw-footer cw-footer cw-footer';
}

.cw-footer {
  grid-area: cw-footer;
}

.cw-buttons {
  grid-area: cw-buttons;
  display: none;
}

.cw-clear {
  grid-area: cw-clear;
  color: white;
  opacity: .5;
}

.currentWeather h6 {
  padding: 0px 5px 0;
  text-align: left;
  font-family: arial;
  font-size: .8em;
  line-height: 15px;
}

.cw-header {
  grid-area: cw-header;
  width: fit-content;
  cursor: pointer;
}

.cw-header h4 {
  padding: 0 5px 0;
  text-align: left;
  font-family: arial;
  font-size: 1.5em;
  line-height: 30px;
}

.cw-temp {
  grid-area: cw-temp;
  padding: 0px 5px 0;
  display: flex;
  justify-content: left;
}

.cw-temp h3 {
  font-size: 2em;
}

.cw-temp p {
  font-size: 1em;
}

.cw-env {
  grid-area: cw-env;
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.cw-env-item {
  display: flex;
  justify-content: space-between;
}


@media screen and (min-width: 601px) {
  .currentWeather {
    grid-template-columns: 150px 1fr 1fr;
    grid-template-rows: 70px 80px 1fr;
    /* grid-row-gap: 10px; */
  }

  .cw-header h4 {
    font-size: 2em;
    /* line-height: 40px; */
    padding: 0 5px 5px;
  }

  .currentWeather h6 {
    font-size: 1em;
    line-height: 18px;
  }

  .cw-temp {
    padding: 5px 5px 0;
  }

  .cw-env {
    padding: 5px 0 0;
  }

  .cw-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .cw-clear {
    justify-self: flex-end;
  }

  .cw-buttons button {
    margin: 5px;
  }
}
